In [3]:
from cano import logic_expr
import sympy

In [4]:
a, b, c, d = sympy.symbols('a,b,c,d')
expr = c | ~b & ~d | ~a & b & d
my_expr = logic_expr(expr)

In [5]:
my_expr.my_map.df

cd     00     01    11    10
ab
00   True  False  True  True
01  False   True  True  True
11  False  False  True  True
10   True  False  True  True

In [6]:
a, b, c = sympy.symbols('a,b,c')

In [12]:
min_term = [0, 3, 4, 5]
d_term = sympy.logic.boolalg.SOPform([a, b, c], minterms=min_term)
d_term_expr = logic_expr(d_term)
d_term_expr.show_cano()

bc    00     01     11     10
a
0   True  False   True  False
1   True   True  False  False

In [13]:
min_term = [0, 2, 3, 6]
d_term = sympy.logic.boolalg.SOPform([a, b, c], minterms=min_term)
d_term_expr = logic_expr(d_term)
d_term_expr.show_cano()

bc     00     01     11    10
a
0    True  False   True  True
1   False  False  False  True

In [14]:
min_term = [1, 2, 3, 5]
d_term = sympy.logic.boolalg.SOPform([a, b, c], minterms=min_term)
d_term_expr = logic_expr(d_term)
d_term_expr.show_cano()

bc     00    01     11     10
a
0   False  True   True   True
1   False  True  False  False

In [15]:
min_term = [0, 6, 7]
d_term = sympy.logic.boolalg.SOPform([a, b, c], minterms=min_term)
d_term_expr = logic_expr(d_term)
d_term_expr.show_cano()

bc     00     01     11     10
a
0    True  False  False  False
1   False  False   True   True

In [16]:
min_term = [1, 3, 4, 7]
d_term = sympy.logic.boolalg.SOPform([a, b, c], minterms=min_term)
d_term_expr = logic_expr(d_term)
d_term_expr.show_cano()

bc     00     01    11     10
a
0   False   True  True  False
1    True  False  True  False

In [17]:
a, b, c, d = sympy.symbols('a,b,c,d')
min_term = [6, 7, 9, 10, 11, 13, 14, 15]
d_term = sympy.logic.boolalg.SOPform([a, b, c, d], minterms=min_term)
d_term_expr = logic_expr(d_term)
d_term_expr.show_cano()

cd     00     01     11     10
ab
00  False  False  False  False
01  False  False   True   True
11  False   True   True   True
10  False   True   True   True

In [22]:
a, b, c = sympy.symbols('a,b,c')
expr = a & b & ~c | ~b
my_expr = logic_expr(expr)
my_expr.df

      binary  value
0  [0, 0, 0]   True
1  [0, 0, 1]   True
2  [0, 1, 0]  False
3  [0, 1, 1]  False
4  [1, 0, 0]   True
5  [1, 0, 1]   True
6  [1, 1, 0]   True
7  [1, 1, 1]  False

In [23]:
a, b, c = sympy.symbols('a,b,c')
expr = ~(a & b & ~c | ~b)
my_expr = logic_expr(expr)
my_expr.df

      binary  value
0  [0, 0, 0]  False
1  [0, 0, 1]  False
2  [0, 1, 0]   True
3  [0, 1, 1]   True
4  [1, 0, 0]  False
5  [1, 0, 1]  False
6  [1, 1, 0]  False
7  [1, 1, 1]   True

In [24]:
a, b, c, d = sympy.symbols('a,b,c,d')
expr = (a | b | d) & (~a | c) & (~a | ~b | ~c) & (a | b | ~c | ~d)
my_expr = logic_expr(expr)
my_expr.df

          binary  value
0   [0, 0, 0, 0]  False
1   [0, 0, 0, 1]   True
2   [0, 0, 1, 0]  False
3   [0, 0, 1, 1]  False
4   [0, 1, 0, 0]   True
5   [0, 1, 0, 1]   True
6   [0, 1, 1, 0]   True
7   [0, 1, 1, 1]   True
8   [1, 0, 0, 0]  False
9   [1, 0, 0, 1]  False
10  [1, 0, 1, 0]   True
11  [1, 0, 1, 1]   True
12  [1, 1, 0, 0]  False
13  [1, 1, 0, 1]  False
14  [1, 1, 1, 0]  False
15  [1, 1, 1, 1]  False

In [31]:
arr = list(sympy.symbols('a,b,c'))
min_term = [0, 3, 5, 6]
d_term = sympy.logic.boolalg.SOPform(arr, minterms=min_term)
d_term_expr = logic_expr(d_term)
d_term_expr.my_map.df

bc     00     01     11     10
a
0    True  False   True  False
1   False   True  False   True