In [1]:
from cano import logic_expr
import sympy

In [2]:
a, b, c, d = sympy.symbols('a,b,c,d')
expr = ~b & ~c & ~d | b & c & d | a & c & ~d | ~a & ~b & c | ~a & b & ~c & d
expr = logic_expr(expr)
expr.show_cano()

cd     00     01     11     10
ab
00   True  False   True   True
01  False   True   True  False
11  False  False   True   True
10   True  False  False   True

In [8]:
v_arr = list(sympy.symbols("a,b,c,d"))
min_term = [0, 2, 5, 6]
min_term = expr = sympy.logic.boolalg.SOPform(
    v_arr, min_term
)
min_term = logic_expr(min_term)
min_term.m_map.df

cd     00     01     11     10
ab
00   True  False  False   True
01  False   True  False   True
11  False  False  False  False
10  False  False  False  False