In [1]:
from cano import logic_expr
import sympy

In [2]:
a, b, c, d = sympy.symbols('a,b,c,d')
expr = ~b & ~c & ~d | b & c & d | a & c & ~d | ~a & ~b & c | ~a & b & ~c & d
expr = logic_expr(expr)
expr.show_cano()

cd     00     01     11     10
ab
00   True  False   True   True
01  False   True   True  False
11  False  False   True   True
10   True  False  False   True

In [8]:
v_arr = list(sympy.symbols("a,b,c,d"))
min_term = [0, 2, 5, 6]
min_term = expr = sympy.logic.boolalg.SOPform(
    v_arr, min_term
)
min_term = logic_expr(min_term)
min_term.m_map.df

cd     00     01     11     10
ab
00   True  False  False   True
01  False   True  False   True
11  False  False  False  False
10  False  False  False  False

In [9]:
v_arr = list(sympy.symbols("a,b,c,d,e"))
min_term = [0, 1, 2, 6, 7, 9, 10, 15, 16, 18, 20, 21, 27, 30]
min_term = expr = sympy.logic.boolalg.SOPform(v_arr, min_term)
min_term = logic_expr(min_term)
min_term.m_map.df

cde    000    001    011    010    110    111    101    100
ab
00    True   True  False   True   True   True  False  False
01   False   True  False   True  False   True  False  False
11   False  False   True  False   True  False  False  False
10    True  False  False   True  False  False   True   True

In [16]:
v_arr = list(sympy.symbols("a,b,c,d,e"))
min_term = [3,4,11,12,19]
min_term = expr = sympy.logic.boolalg.SOPform(v_arr, min_term)
sympy.logic.to_dnf(min_term)

(d & e & ~a & ~c) | (d & e & ~b & ~c) | (c & ~a & ~d & ~e)

In [17]:
v_arr = list(sympy.symbols("a,b,c,d,e"))
care_min_term = [0,3,5,7,8,9,10,12,13]
donot_care = [1,6,11,14]
min_term = expr = sympy.logic.boolalg.SOPform(v_arr, minterms=care_min_term, dontcares=donot_care)
sympy.logic.to_dnf(min_term)

(b & ~a & ~d) | (b & ~a & ~e) | (e & ~a & ~b) | (~a & ~c & ~d)